Considering this is the prototype, currently our system has
some constrains that users have to follow to succeed deploying
web apps:
<br>
A. Port Number
<br>
There is only one port number available currently. We do not
come up with a good solution for port management. Therefore,
only one web app can run at a time.
<br>
B. Zip File Name
<br>
The zipped source file must have the same name with the
directory which holding all of user codes. For example, if
users source code is in a directory called user_source, then
have to zip it to a file called user_source.zip.
<br>
C. Entry File Type
<br>
The entry file of the users web app must be a .js file and placed
under your project root directory.
<br>
D. Web Server Type
<br>
At present the system only support deploying web apps built an
run by node.js.
<br>
<br>
<br>
<a href = '/index/'>Back</a>
